@import 'tailwindcss';
@plugin 'daisyui';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Milling';
	src:
		url('/fonts/Milling/Milling-Triplex1mm.woff2') format('woff2'),
		url('/fonts/Milling/Milling-Triplex1mm.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Montagu Slab';
	src:
		url('/fonts/Montagu_Slab/MontaguSlab_48pt-Regular.ttf') format('truetype'),
		url('/fonts/Milling/Milling-Triplex1mm.woff2') format('woff2');
	font-style: normal;
	font-weight: 40;
	font-display: swap;
}

@font-face {
	font-family: 'Montagu Slab';
	src:
		url('/fonts/Montagu_Slab/MontaguSlab_24pt-Light.ttf') format('truetype'),
		url('/fonts/Milling/Milling-Triplex1mm.woff2') format('woff2');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Montagu Slab';
	src:
		url('/fonts/Montagu_Slab/MontaguSlab_24pt-Regular.ttf') format('truetype'),
		url('/fonts/Milling/Milling-Triplex1mm.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

* {
	font-family:
		'Milling',
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}
